@page "/"
@namespace Xamtasia.OpenAlpr.Binary.Factory.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xamtasia.OpenAlpr.Binary.Factory</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Xamtasia.OpenAlpr.Binary.Factory.styles.css" rel="stylesheet" />
    <script>
        window.handleInsertInnerHtml = (id, content) => {
            if (id != null && content != null) {
                try {
                    var element = document.getElementById(id);
                    if (element != null) {
                        element.innerHTML = content;
                    }
                    else {
                        // failed
                    }

                }
                catch (ex) {
                    // failed
                }
            }
            else {
                // failed
            }
        };

        window.handleChangeStyleColor = (id, color) => {
            if (id != null && color != null) {
                try {
                    var element = document.getElementById(id);
                    if (element != null) {
                        element.style.color = color;
                    }
                    else {
                        // failed
                    }

                }
                catch (ex) {
                    // failed
                }
            }
            else {
                // failed
            }
        };

        window.handleDivScrollToBottom = (id) => {
            if (id != null) {
                try {
                    var element = document.getElementById(id);
                    if (element != null) {
                        element.scrollTop = element.scrollHeight;
                    }
                    else {
                        // failed
                    }

                }
                catch (ex) {
                    // failed
                }
            }
            else {
                // failed
            }
        };
    </script>
    <style>
        .panel-container_column {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: stretch;
        }
        .panel-container_row {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: stretch;
        }
    </style>
</head>
<body class="panel-container_column">
    <div>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </div>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
