@using System.Diagnostics;

<div>
    <button @onclick="InstallLibrariesIntoDirectory">Install Library Sources</button>
</div>
<div>
    <pre>
    @Message
    </pre>
</div>


@code {

    string Message { get; set; }

    private void InstallLibrariesIntoDirectory()
    {
        Message = @"Install Button Clicked ";
        try
        {
            string file = "/scripts/echotest";
            var process = new Process()
            {
                StartInfo = new ProcessStartInfo
                {
                    //FileName = "/bin/bash", 
                    //Arguments = $"-c \"{escapedArgs}\"", 					  
                    FileName = "/bin/bash",
                    Arguments = $"-c \"/scripts/downloadandunpacklibraries\"",
                    RedirectStandardOutput = true,
                    UseShellExecute = false,
                    CreateNoWindow = true,
                }
            };

            process.Start();
            string result = process.StandardOutput.ReadToEnd();
            Message += $"StdOut: {result}";
            process.WaitForExit();
        }
        catch(Exception ex)
        {
            Message += $"Error: {ex.Message} ";
        }
    }

    protected override Task OnInitializedAsync()
    {
        Message = string.Empty;

        return base.OnInitializedAsync();
    }

}
